# RENAME TO .env.local AND REPLACE VALUES WITH ACTUAL VALUES

VITE_APP_TITLE='APP TITLE'
VITE_APP_BASE_URL='http://localhost:3000'

ELECTRIC_URL='http://localhost:5433'
ELECTRIC_SECRET='ELECTRIC_SECRET'

POSTGRES_USER='postgres'
POSTGRES_PASSWORD='password'
POSTGRES_DB='DB_NAME'
DATABASE_URL='postgresql://postgres:password@localhost:5432/DB_NAME'

BETTER_AUTH_SECRET='BETTER_AUTH_SECRET'

MINIO_ENDPOINT='localhost'
MINIO_PORT='5435'
MINIO_ROOT_USER='minioroot'
MINIO_ROOT_PASSWORD='12345678'

GOOGLE_CLIENT_ID='GOOGLE_CLIENT_ID_FROM_GCP'
GOOGLE_CLIENT_SECRET='GOOGLE_CLIENT_SECRET_FROM_GCP'